{% extends "base.html"%}
{% load static %}
{% block title %}Alpins | ForgetPassword{% endblock %}
{% block main_content %}
<header class="header-base">
    <div class="container">
        <h1>Forget Password</h1>
        <h2>Retrieve Password</h2>
    </div>
</header>
<main>
    <section class="section-base">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form  class="form-box" method="post" id="forget-form">
                        {% csrf_token %}
                
                        {% if messages %}
                
                        {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                
                     
                            <label for="email">Email</label>
                            <input type="text" name="email"  class="input-text">
                           
                       
                            <button class="btn btn-sm" type="submit">Submit</button>
                
                    </form>
                </div>
            </div>                        
        </div>
    </section>
</main>


{% endblock %}