{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}Alpins | Treks{% endblock %}
{% block main_content %}
<header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="{% static 'media/hd-3.jpg' %}" data-offset="0">
    <div class="container">
        <h1>Treks</h1>
        <h2>It feels good to be lost in the right direction</h2>
        <ol class="breadcrumb">
            <li><a href="{% url 'main:index' %}">Home</a></li>
            <li><a href="{% url 'main:treks' %}">Treks</a></li>
        </ol>
    </div>
</header>
<main>
    {% if not available_treks %}
    <section class="section-base section-color">        
        <div class="container">                 
            <div class="maso-list gap-30" data-columns="2" data-columns-lg="1" data-columns-sm="1">
                <form action="{% url 'main:treks' %}" method="GET" value="{{request.GET.search}}">
                    {% csrf_token %}
                    <div class="input-text-btn">
                        <input class="input-text" name="search" value="{{request.GET.search}}" type="text" placeholder="Enter text to search" ><input type="submit" value="Search" class="btn">
                    </div>
                </form>
                <div class="menu-inner">
                    <div><i class="menu-btn"></i><span>Menu</span></div>
                    <ul>
                        <li class="active"><a data-filter="maso-item" href="#">All Upcoming available treks</a></li>
                        <li><a data-filter="High" href="#">High Difficulty</a></li>
                        <li><a data-filter="Low" href="#">Low Difficulty</a></li>
                        <li><a data-filter="Medium" href="#">Medium Difficulty</a></li>
                        <li><a class="maso-order" data-sort="asc"></a></li>
                    </ul>
                </div>
                <div class="maso-box">
                    {% for i in treks %}
                    <div class="maso-item {{ i.level }}">
                        <div class="cnt-box cnt-box-info boxed" data-href="singleTrek/{{i.pk}}">
                            <div class="extra-field">${{ i.cost }}</div>
                            <a href="singleTrek/{{i.pk}}" class="img-box">
                                {% comment %} <img src="{% static 'media/image-7.jpg' %}" alt="" /> {% endcomment %}
                                <img src="{{ i.image.url }}" alt="" />
                                
                            </a>
                            <div class="caption">
                                <h2>{{ i.mountain }}</h2>
                                <div class="cnt-info">
                                    <div><span>Days</span><span>{{ i.duration }}</span></div>
                                    <div><span>Group size</span><span>{{ i.group_size }}</span></div>
                                    <div><span>Difficulty</span><span>{{ i.level }}</span></div>
                                    <div><span>Spaces left</span><span>{{ i.group_size|subtract:i.available_capcity }}</span></div>
                                </div>
                                <p>
                                    {{ i.description|slice:":100" }}...
                                </p>
                                <div class="bottom-info">
                                    {{ i.address }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        There are no available Treks
                    {% endfor %}
                </div>
            </div>
            <hr class="space" />
        </div>
    </section>
{#    {% else %}#}
{#        <section class="section-base section-color">#}
{#        There are no available Treks#}
{#        </section>#}
    {% endif %}

    {% if occupied_treks %}
    <section class="section-base section-color">
        <div class="container">
            <div class="maso-list gap-30" data-columns="2" data-columns-lg="1" data-columns-sm="1">
                <div class="menu-inner">
                    <div><i class="menu-btn"></i><span>Menu</span></div>
                    <ul>
                        <li class="active"><a data-filter="maso-item" href="#">All Upcoming booked treks</a></li>
                        <li><a data-filter="High" href="#">High Difficulty</a></li>
                        <li><a data-filter="Low" href="#">Low Difficulty</a></li>
                        <li><a data-filter="Medium" href="#">Medium Difficulty</a></li>
                        <li><a class="maso-order" data-sort="asc"></a></li>
                    </ul>
                </div>
                <div class="maso-box">
                    {% for i in occupied_treks %}
                    <div class="maso-item {{ i.level }}">
                        <div class="cnt-box cnt-box-info boxed" >
                            <div class="extra-field">${{ i.cost }}</div>
                            <a href="#" class="img-box"><img src="{{ i.image.url }}" alt="" /></a>
                            <div class="caption">
                                <h2>{{ i.mountain }}</h2>
                                <div class="cnt-info">
                                    <div><span>Days</span><span>{{ i.duration }}</span></div>
                                    <div><span>Group size</span><span>{{ i.group_size }}</span></div>
                                    <div><span>Difficulty</span><span>{{ i.level }}</span></div>
                                    <div><span>Spaces left</span><span>0</span></div>
                                </div>
                                <p>
                                    {{ i.description|slice:":100" }}...
                                </p>
                                <div class="bottom-info">
                                    {{ i.address }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}                    
                </div>
            </div>
            <hr class="space" />
        </div>
    </section>
    {% endif %}
</main>
{% endblock %}    
{% block footer_content %}
<script src="{% static 'themekit/scripts/isotope.min.js' %}"></script>

{% endblock %}   